@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Roboto', sans-serif;
	color: #333333;
}
ul li{
  list-style: none;
}
a{color: #333333;}
.header__top{
	padding: 15px 0;
	border-bottom: .8px solid #ebebeb;
}
.main-menu__catalog, .product_main{
    padding-top: 20px;
}
.product_main .product__price p {
    font-size: 24px;
    margin-right: 25px;
}
.catalog{
    padding: 20px 0;
}
.catalog .shop__view a{
    line-height: 20px;
 }
img{
    width: 100%;
}
.shop__cart_main i{
	font-size: 35px;
}
.nav-link{
    padding-left: 0;
}
.dropdown-toggle::after{
    float: right;
}
.main-menu__catalog >li{
    padding-bottom: 7px;
    border-bottom: 1px solid #333333;
}
ul{margin-bottom: 0;}
.main-menu li{
	display: inline-block;
}
.phone_login{
	border-bottom: 1px dotted #333333;
    padding-bottom: 10px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #e63535;
}
.header li a:hover{
    color: #e63535 ;
}
.sub-menu li{
    list-style: none;
}
.sub-menu{
    opacity: 0;
    margin-top: 100px;
    border-top: 3px solid #e63535;
    z-index: 100;
    position: absolute;
    visibility: hidden;
    background: #ffffff;
    width: 250px;
    padding-left: 15px;
    transition: all .3s ease; 
}
.navbar li:hover .sub-menu{
    opacity: 1;
    visibility: visible;
    margin-top: 0;
    transition: all .3s ease;
}
.sub-menu li a {
    color: #4d4d4d;
    line-height: 20px;
    position: relative;
    display: block;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 14px;
}
.navbar li a{
    display: block;
}
.login_sign a,.main-sale p{
	font-size: 12px;
}
.main-sale{
	padding-top: .31em;
	text-align: right;
}
.shop__cart_main {margin-left: 1.5em}
.phone_login li{
	line-height: 10px;
	padding: 0 1em;
	border-right: 1px solid black;
}
.red{color: red}
.phone_login li:last-child{padding-right: 0;border-right: none;}
.phone_login li:first-child{padding-left: 0;}
.navbar .navbar-nav>li>a {
    color: #4d4d4d;
    line-height: 20px;
    position: relative;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 14px;
}
.banner img{
	width: 100%;
}
.owl-nav{
	position: absolute;
	top: 40%;
	width: 100%;
}
.owl-theme .owl-nav [class*=owl-] {
	cursor: none;
}
.owl-nav button{
	position: absolute;
}
.owl-nav button span{
	font-size: 70px;
}
.owl-prev{
	left: 2%;
}
.owl-next{
	right: 2%;
}


/*--------------------- Phần Content ---------------------------*/
.content{
	display: block;
}
.styled_header.use_icon {
    border-bottom: 1px dotted #333333;
}
.styled_header {
    width: 100%;
    float: left;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}
.owl-dots{
	display: none;
}
.styled_header .icon {
    display: block;
    width: 30px;
    min-height: 20px;
    position: absolute;
    left: 50%;
    bottom: -12px;
    margin-left: -15px;
    font-size: 20px;
    background: #fff;
    text-align: center;
}
.styled_header h2 {
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 10px;
    font-weight: 400;
}
.styled_header h3 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}
.item__product{
	overflow: hidden;
    width: 100%;
    position: relative;
     margin-bottom: 30px; 
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
}
.item__product img{
	width: 100%;
}
.product-sale {
    position: absolute;
    z-index: 1;
}
.product-sale span {
    padding: 2px 5px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    background: #e63535;
    border-width: thin;
    border-style: solid;
    border-color: #e63535;
    left: 0;
    top: 0;
}
.product__name a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0 0 0.5rem 0;
    color: #333333;
    font-size: 14px!important;
    line-height: 19px !important;
    margin: 0 !important;
    font-weight: 400;
}
.pro__price {
    padding-right: 8px;
    color: #db2121;
}
  .pro__price__del, .pro__price {
    font-size: 14px;
    line-height: 19px;
    display: inline-block;
    margin: 0;
}
.pro__price__del {
    color: #898989;
    font-size: 13px;
}
.product__img{
	display: block;
	position: relative;
}
.shop__view {
	display: flex;
	justify-content: center;
	width: 100%;
    position: absolute;
    bottom: 10%;
    left: 100%;
    transition: all .3s ease;
}
.add__cart,.show__product__dilog{
	    text-align: center;
    margin-bottom: 0;
    margin-left: 10px;
    cursor: pointer;
}
.shop__view a,.shop__cart_main a{
	font-size: 20px;
	border: 0px solid transparent !important;
    -webkit-box-shadow: 0 0 0 1px rgb(0 0 0 / 10%) inset;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 10%) inset;
    background-color: #ffffff;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    position: relative;
    border: none;
    width: 32px;
    height: auto;
    text-align: center;
    line-height: 32px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    color: #333333;
}
.shop__view a:hover {
    background-color: #e63535;
    -webkit-box-shadow: 0 0 0 30px #000 inset;
    box-shadow: 0 0 0 30px #e63535 inset;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.item__product:hover .shop__view{
	left: 0;
	transition: all .3s ease; 
}
.product__name a:hover {
    text-decoration: none;
    color: #e63535;
}
.item__product:hover img{
  transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
a:hover{
	text-decoration: none;
}
.more a{
	padding: 0 30px;
	height: 30px;
	line-height: 30px;
	color: #333333;
    font-size: 14px;
    font-weight: 400;
	text-transform: uppercase;
	box-shadow: 0 2px 1px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 30%);
}
.shop__cart_main a{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 60px;
	height: 60px;
}
.shop__cart_main a:hover{
	box-shadow: 0 0 0 1px #e63535 inset;
}